body {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/rebel.png");
  background-repeat: repeat-y repeat-x;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bodyContainer {
  background-color: white;
  border-radius: 12px;
  
  height: 891px;
  width: 500px;
}

.row-header {
  background-image: url('./images/fridge_header.png');
  background-repeat: no-repeat;
  background-size: 502px 120px;
  height: 117px;
  width: 480px;
  text-align: left;
  font-size: 2rem;
}

.header-content {
  margin-top: 2rem;
  margin-left: 4rem;
  line-height: 3.5;
  font-weight: bold;
}

div.bodyContent {
  text-align: center;
  
}

.componentWrapper {
  margin: 0;
  padding: 0;
}

.modal-app {
  margin-top: 30px;
  text-align: center;
}