.list-view {
    display: flex;
    height: 100%;
    position: relative;
    text-align: Left;
    padding-left: 20px;
  }

  ul.list-group {
    width: 400px;
  }

  .icon-left {
    position: absolute;
    left: 0px;
  }

  .icon-right {
    position: absolute;
    left: 415px;
  }

 .li-text {
   padding-left: 50px;
 }

 .li-ex-date {
   position: absolute;
   left: 350px;
 }

  .list-group-item, i.icon-left, i.icon-right {
    font-size: 2rem;
  }

  button.open-modal-btn.add-icon {
    /* position: absolute;
    left: 1003px; */
    margin: 0;
    font-size: 2rem;
    height: 60px;
    width: 48px;
    line-height: 1;
  }